.App {
  font-family: sans-serif;
  text-align: center;
}

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-tooltip-lite {
  color: white;
}
